<!-- templates/booking_form.html -->
<div class="col-md-4">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h3>Book a Time Slot</h3>
    <form method="POST">
      {{ booking_form.hidden_tag() }}
      <div class="mb-3">
        {{ booking_form.date.label(class="form-label") }}
        {{ booking_form.date(class="form-select") }}
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            {{ booking_form.start_hour.label(class="form-label") }}
            {{ booking_form.start_hour(class="form-select") }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            {{ booking_form.start_minute.label(class="form-label") }}
            {{ booking_form.start_minute(class="form-control") }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            {{ booking_form.end_hour.label(class="form-label") }}
            {{ booking_form.end_hour(class="form-select") }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            {{ booking_form.end_minute.label(class="form-label") }}
            {{ booking_form.end_minute(class="form-control") }}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Book Now</button>
    </form>
    <p style="margin-bottom:0.5cm;"></p>
    <a class="btn btn-primary" href="{{ url_for('manage_bookings') }}">Manage your bookings</a>

  